body{

}
.palle4{
    padding: 40px;
}
.testo{

    margin: auto auto;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0%);

}

h1 {
    text-align: center;
    margin: auto auto;
}

section.cards div {
    background-color: rgba(12, 123, 145, 0);
    border-radius: 0px ;
}

section.cards img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px gray;
}


